.idea
lerna-debug.log
services/compose/postgresqldev
services/compose/postgresqltest
services/compose/minio
services/compose/ganache
**/node_modules
**/build
**/coverage
**/coverage.json
**/coverageEnv
**/scTopics
**/.nyc_output
docs/ast
temp
