.idea
.DS_Store
lerna-debug.log
services/compose/postgresqldev
services/compose/postgresqltest
services/compose/minio
services/compose/dev_ganache
**/node_modules
**/build
**/verification
**/coverage
**/coverage.json
**/coverageEnv
**/scTopics
**/.nyc_output
**/.env
docs/ast
temp

core_microservices/dip_contracts/*.log
