.idea
.DS_Store
lerna-debug.log
services/compose/volumes/*/
**/node_modules
**/build
**/verification
**/coverage
**/coverage.json
**/coverageEnv
**/scTopics
**/.nyc_output
**/.env
**/.env.*
.gif.config.js
docs/ast
temp

core_microservices/dip_contracts/*.log
