.spinnerPlace {
  margin: 8px;
  visibility: hidden;
}

.visible {
  visibility: inherit;
}

.details {
  font-size: 15px;

  b {
    font-size: 16px;
    font-weight: bold;
    padding: 0 8px;
  }
}

.note {
  margin-top: 10px;
  font-size: 14px;
}

.asterisc {
  color: red;
  padding: 0 4px;
}

.info {
  margin: 7px 0;
}

.hidden {
  display: none;
}
