.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  font-size: 15px;
}

.spinner {
  position: relative;
  margin: 0 10px 0 0;

  &.small {
    width: 32px;
    height: 32px;
  }

  &.medium {
    width: 52px;
    height: 52px;
  }

  &.large {
    width: 64px;
    height: 64px;
  }
}

.bar {
  -webkit-animation: react-spinner_spin 1.2s linear infinite;
  -moz-animation: react-spinner_spin 1.2s linear infinite;
  animation: react-spinner_spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  width: 20%;
  height: 4.8%;
  top: 50%;
  left: 50%;
}

@keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-moz-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-webkit-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}
