.wrapper {
  padding-right: 0;
}

.details {
  margin-top: 42px;
  font-size: 0.9em;
  font-family: 'open_sansregular', sans-serif;
}

.intro {
  text-align: left;
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: 12px;

  img {
    float: left;
    margin-right: 12px;
    margin-bottom: 10px;
  }
}

.announcement {
  font-size: 16px;
  margin: 16px 0;
  text-align: justify;
}

.powered {
  color: #efc336;
  text-align: left;
  margin: 10px 0;
  font-size: 14px;
}
