/* It is recommended to place all your extra/additional CSS rules here */

.form-style input.text-field,
.form-style input.datepicker,
.form-style textarea,
.form-style .select2-selection {
    background:rgba(255,255,255,0.7);
}

.select2-search__field,
.select2-results__option {
	color:#000;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color:#fff;
	padding-left:0px;
}

.form-style .select2-selection:focus .select2-selection__rendered {
	color:#000;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 54px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
	color:#fff;
}

.select2-container--default .select2-results > .select2-results__options {
	width:100%;
}

.form-style input.datepicker,
.form-style .select2-selection {
	color:#fff;
    padding: 12px;
	text-align:left;
	font-size: 18px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
	font-family: 'open_sanslight', sans-serif;
	border-color:#fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height:54px;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.form-style input.datepicker:focus,
.form-style .select2-selection:focus,
.form-style .select2-selection:focus .select2-selection__placeholder {
    color:#000;
	outline:none;
    background:#fff;
    border-color:#fff;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
}

.datepicker-days {
	color:#00f;
	font-weight:bold;
}


#fdi-sidebar p.menu-item {
    text-align: center;
}

.modal .modal-content .modal-body .modal-policy {
	text-align:left;
}

.modal .btn-lg {
   font-size:0.9em;
   padding:13px 30px;
}

.modal .btn-sm {
   font-size:0.73em;
   padding:10px 26px;
}

.modal .btn-xs {
   font-size:0.65em;
   padding:6px 18px;
}

    @media (min-width: 768px) {
        .modal .btn-lg { font-size:0.95em; }
        .modal .btn-sm { font-size:0.80em; }
        .modal .btn-xs { font-size:0.70em; }
    }
    @media (min-width: 992px) {
        .modal .btn-lg { font-size:1.05em; }
        .modal .btn-sm { font-size:0.95em; }
        .modal .btn-xs { font-size:0.75em; }
    }

.form-style .fdi-faucet-alert {
    color:#a10000;
    font-size: 0.7em;
    font-family: 'open_sansbold', sans-serif;
    border-radius: 0;
    padding:8px 10px;
}

.fdi-apply-transaction-receipt {
	display:none;
}

#fdi-sidebar #main-menu > li.menu-item.display-none {
	display:none;
}

.s-wrapper {
  height: 100%;
}

#root {
  height: 100%;
}

ul#network-info  {
  margin-right: 10px;
}

ul#network-info li {
  width: 100%;
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
