@media (min-width: 768px) {
  .step {
    width: 600px;
  }
}

.step {
  text-align: center;
}

.info-text {
  color: #8d8c8a;
  text-align: center;

  input {
    float: left;
  }

  p {
    padding-left: 25px;
  }
}

.footnote {
  margin: 30px 0;
  color: #8d8c8a;
  font-size: 13px;

  a {
    text-decoration: underline;
    border: 0 none;
  }

  img {
    float: left;
    margin-right: 15px;
  }

  p {
    text-align: left;
  }
}

.sub-header {
  margin: 25px 0;
  font-weight: bold;

  div {
    cursor: pointer;
  }
}

.payment-type, .card-type {
  text-align: left;

  span {
    margin-left: 35px;
  }
}

.form-group .label {
  text-align: left;
}

.text-input {
  width: 100%;
}

.form-style .form-group {
  text-align: left;
}


.form-style .form-group label {
  font-size: 14px;
}

#fdi_apply_btn_search {
  margin-top: 38px;
}

.form-group {
  &.-right {
    text-align: right;
  }

  &.-left {
    text-align: left;

    label {
      font-size: 14px;
    }
  }
}

#fdi_apply .form-style {
  margin: 8px 0;
}

#main-content .btn-sm {
  padding: 10px 50px;
}



.card-type, .payment-type {
  display: flex;
  flex-wrap: wrap;

  &__title {
    padding: 12px 0 10px 15px;
    width: 160px;
  }

  &__items {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;

    div {
      width: 110px;
      padding: 10px 20px;

      @media (max-width: 768px) {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
      }

      label {
        padding-left: 8px;

        span {
          position: relative;
          top: 2px;
          margin: 0;
        }
      }
    }
  }
}

.card-type {
  &__items {
    justify-content: center;
  }
}

.steps-nav {
  display: flex;
  align-items: center;
  justify-content: center;


  div {
    span {
      color: #8e8986;
      border: 2px solid #8e8986;
      height: 30px;
      width: 30px;
      line-height: 26px;
      border-radius: 30px;
      font-size: 15px;
      display: block;
      text-align: center;
      margin: 0 8px;

      &.-current {
        color: #000 !important;
        background: #fff;
        border: 2px solid #fff;
      }

      &.-available {
        cursor: pointer;
        color: #fff;
        border: 2px solid #fff;
      }

    }
  }
}

.another-flight {
  text-align: left;
}

.privacy {
  text-align: left !important;

  button {
    background: none;
    border: 0 none;
    text-decoration: underline;
    font-size: 14px;
    color: #ecc200;
    text-align: left;
    padding: 10px 30px 0 0;
    transition: color .2s;
    display: block;
    &:hover {
      color: #d8b720;
      text-decoration: none;
    }
    &:hover {
      outline: none;
    }
  }
}

.info-text {
  color: #8c8c8c;
  font-size: 15px;
}

.card-details {
  display: flex;
  padding: 12px 0;
  font-size: 15px;
  color: #bfbdba;

  img {
    margin-left: 12px;
  }
}

.step .form-group label {
  color: #bfbdba;
}

.step {
  &.-left {
    text-align: left;

    h1 {
      text-align: center;
    }
  }
}
.StripeElement {
    padding: 10px;
    background: #dedcdc;
    color: #fff;
    margin: 15px;
}

.step h1 {
  margin-top: 0;
}

.step .table {
  font-size: 15px;
}

.proof {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.paymentInfo {
  display: flex;
  justify-content: center;

  div {
    padding: 0 12px;
  }

  &__premium {

  }

  &__coupon {
    span {
      color: green;
    }
  }
}





.inputType {
  display: flex;
  flex-wrap: wrap;
  text-align: left;

  &__title {
    padding: 10px 0 10px 0;
    width: 260px;
  }

  &__items {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;

    div {
      width: 250px;
      padding: 10px 20px;

      label {
        padding-left: 8px;

        span {
          position: relative;
          top: 2px;
          margin: 0 0 0 6px;
        }
      }
    }
  }
}


.selectField {
  text-align: left;
}

.dateField {
  text-align: left;
}

.react-datepicker-wrapper, .react-datepicker__input-container {
  width: 100%;
}

.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5rem !important;
}

.Select-menu-outer {
  font-size: 15px !important;
}


.Select-control {
    background: rgba(255,255,255,0.7) !important;
    border-color: #d9d9d9 #ccc #b3b3b3 !important;
    border-radius: 0px !important;
    border:  1px solid #fff !important;
    color: #333 !important;
    cursor: default !important;
    display: table !important;
    border-spacing: 0 !important;
    border-collapse: separate !important;
    height: 54px !important;
    outline: none !important;
    overflow: hidden !important;
    position: relative !important;
    width: 100% !important;
    text-shadow: none !important;
}

.Select-input {
  padding-top: 5px;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
  line-height: 50px !important;
}

@media print {
  .vegas-background {
    display: none !important;
  }
}



.fieldError {
  position: relative;
  > input {
    border: 1px solid #de8787 !important;
    background: rgba(239, 222, 222, 0.7) !important;
  }

  .react-datepicker__input-container > input, .Select-control {
    border: 1px solid #de8787 !important;
    background: rgba(239, 222, 222, 0.7) !important;
  }

  .errorMessage {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0px 6px;
    font-size: 13px;
    background: #de8787;
  }
}

.warning {
  border: 1px solid orange;

  .warningMessage {

  }
}

.payment-type__items {
  label {
    span {
      padding-left: 6px;
    }
  }
}

.policy-row {
  td {
    border-top: 1px solid #fff !important;
  }
}



@media print {
  .narcissus_10flire {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
  }

  svg {
    display: none;
  }

  .step, .cert {
    h1 {
      text-align: center;
    }

    table td {
      font-size: 14px;
      border: 1px solid #000;

      table {
        width: 100%;
        td {
          border: 0 none;
          border-top: 1px solid #000;
          padding: 6px;
        }
      }
    }

    .appendix {
      font-size: 14px;
      margin-top: 20px;
    }
  }
}

label {
  span {
    padding-left: 6px;
    position: relative;
    top: 1px;
  }
}

.table-hover>tbody>tr:hover {
  background-color: rgba(152, 152, 152, 0.69);
}

.watchPolicy {

  &__text {
    text-align: left;
  }

  &__input {
    position: relative;
    top: -22px;
  }

  &__btn {
    position: relative;
    top: -16px;
  }

}

.notification-title {
  text-shadow: none;
}


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.no-scroll {
  position: relative;
  overflow-y: hidden;
}
