WS_PROVIDER=wss://rinkeby.infura.io/ws
NETWORK_NAME=rinkeby
HTTP_PROVIDER='https://rinkeby.infura.io/1reQ7FJQ1zs0QGExhlZ8'
MNEMONIC='way web chapter satisfy solid future avoid push insane viable dizzy conduct fork fantasy asthma'
ACCOUNT='0x5E391721c8f61C4F1E58A74d1a2f02428e922CDE'
