.certificate {

}

.wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.details {
  width: 100%;
  font-size: 15px;

  td {
    border: 1px solid #fff;
    padding: 3px 15px;
  }
}

.row {}

.label {
  width: 20%;
  font-weight: bold;
}

.value {

}

.appendix {
  text-align: left;
  padding: 8px 10px;
  margin-top: 20px;
  font-size: 15px;
}


.payouts {
  td {
    border: 0 none;
    border-top: 1px solid #fff;
  }
}

.buttons {
  text-align: right;
}

.button {
  color: yellow;
  padding: 10px;
}

.printBtn {
  color: yellow;
  background: none;
  border: 0 none;
  text-align: right
}

.currency {
  text-transform: uppercase;
}

.link {
  text-decoration: underline;
  color: #fffd75;

  &:hover {
    color: #e8e47a;
    text-decoration: underline;
  }
}

@media print {
  .buttons {
    display: none;
  }
}
