.premiumField {
  display: flex;

  :global .-currency {
    width: 110px !important;
  }

  :global .Select-control {
    background: #fff !important;
  }

  :global .Select-value {
    padding-right: 23px !important;
  }
}

.spinnerPlace {
  margin: 8px;
  visibility: hidden;
}

.visible {
  visibility: inherit;
}

.disabled {
  color: #858585;
}

.small {
  font-size: 12px;
}
