apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: minio
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
        - name: minio
          image: minio/minio
          imagePullPolicy: "IfNotPresent"
          args:
            - server
            - /data
          ports:
            - containerPort: 9000
          envFrom:
          - secretRef:
              name: minio
          volumeMounts:
            - mountPath: /data
              name: storage
              subPath: minio
      volumes:
      - name: storage
        persistentVolumeClaim:
          claimName: minio-volume-claim
