<html>
<p>Hello, {{customer.firstname}} {{customer.lastname}}</p>

<p>You are using a demo version of Flight Delay</p>

<p>
    We confirm that the Flight Delay Insurance Policy for flight number
    {{policyExtra.carrier}}{{policyExtra.flightNumber}} {{policyExtra.origin}}-{{policyExtra.destination}} has been issued.
    In this regard, please find enclosed your Certificate of Insurance and the Terms of Insurance
    Policy for your attention. Please retain both documents in a safe place for any future reference.
</p>

<p>You could check the status of your policy online at fdd-demo.etherisc.com.<br />
    <b>Customer id</b>: {{policy.customerId}}<br />
    <b>Policy id</b>: {{policy.id}}<br />
</p>

<p>
    <b>Disclaimer</b><br />
    This message and any attached documents may contain privileged and confidential information and should only be
    read by those persons to whom this message is addressed. If you have received this email message in error you are
    hereby notified that any use, dissemination, distribution, printing and/or copying of this message, including any
    attachment(s), or part thereof, is strictly prohibited; you are kindly asked to destroy the message [and any
    attachment(s)] and delete it from your computer system; and you are to urgently notify the sender by return email.
    Email messages and attachments may contain viruses. Although we take precautions to check for viruses, we make no
    assurances about the absence of such viruses. We accept no liability and suggest that you carry out your own
    virus checks.
    Opinions or views expressed in this message belong to the author only, except where the message states otherwise.
</p>

<p>
    Thank you
</p>
</htlml>
