{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "react-hot-loader/babel",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-react-constant-elements",
    "transform-react-remove-prop-types",
    "transform-react-pure-class-to-function"
  ]
}
