upstream fddapi {
    server fddapi:3000;
}

server {
  listen 80;
  server_name _;

  root /var/www/ui;
  index index.html;

  location /api {
    proxy_pass http://fddapi/api;
  }

  location / {
    try_files $uri /index.html = 404;
  }
}
